# For blog views
POSTGRES_URL="postgres://"
POSTGRES_URL_NON_POOLING="postgres://"
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Google API for YouTube subscriber counts (optional)
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Resend API for email notifications (optional)
RESEND_SECRET=
